* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(21, 20, 20);
}

.flex {
  display: flex;
  align-items: center;
}

.smpropic {
  width: 30px;
  margin-right: 7px;
  border-radius: 50%;
}

/* Nav bar start */
.nav {
  position: fixed;
  top: 0px;
  background-color: rgb(82, 79, 79);
  color: darkcyan;
  padding: 20px 80px;
  width: 98%;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
.profilehome {
  gap: 40px;
}
.nav-links {
  list-style: none;
  gap: 40px;
}

.search {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.signout {
  background-color: darkcyan;
  border: 3px solid black;
  padding: 7px 15px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 3px 3px 3px black;
  font-weight: 600;
}
.signout:active {
  box-shadow: 3px 3px 3px rgb(82, 79, 79);
  position: relative;
  left: 1px;
}
.signout:hover {
  cursor: pointer;
}
ul li a {
  color: tan;
  text-decoration-line: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Nav bar end */

/* two coloumn start */
.pl {
  margin: 80px;
  justify-content: space-between;
  gap: 20px;
}

.col {
  min-height: 250px;
}
.leftc {
  flex: 3;
}
.rightc {
  flex: 2;
}
/* Two column end */

/* Profile Card Start */
.container {
  min-height: 250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: tan;
  border-radius: 40px;
}
.bluebanner {
  background-color: darkcyan;
  height: 100px;
  border-radius: 40px;
  border: 1px solid white;
}
.contact {
margin-left: 40px;
}
.propic {
width: 160px;
height: 140px;
margin-top: -65px;
margin-left: 40px;
border-radius: 50%;
border: 1px solid white;

}
.mapmark {
  width: 15px;
  margin: 10px;
}
p {margin: 2px;
  margin-bottom: 5px;
}
.edit{
  width: 20px;
  margin: 10px;
  
}
/* Profile Card end */

/* Education Card Start */
  /* Black Bar */
.greybar {
  background-color: darkcyan;
  min-height: 45px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid white;
}
.edu {
  color: white;
  padding: 20px 40px;
}
  /* Black Bar end */

  /* Education info */
.codinginfo {
  padding: 30px 40px;
}
/* Education Card End */
.rightc {
  align-self: flex-start;
  margin-top: 40px;
}

/* Request box */
.requestpro {
  padding: 10px;
}
.request {
  min-height: 150px;
  width: 75%;
  margin-bottom: 40px;
  background-color: tan;
  border-radius: 20px;
}
.textr {
  color: white;
  font-size: 18px;
}
.concircle{
  text-align: center;
  background-color: tan;
  width: 25px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding: 1px;
}
.conheader {
  justify-content: space-evenly;
}

.reqlist {
  background-color:tan;
  padding: 10px;
  min-height: 50px;
  justify-content: space-between;
}
.checkbtn {
  background-color: tan;
  border-style: none;
}
.smpropic:hover {
  cursor: pointer;
/* request */
}

/* connections */

.connectioncircle {
  text-align: center;
  background-color: tan;
  width: 55px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding: 3px;
}
.consmpic {
  margin: 10px;
}
.hyper {
  min-height: 50px;
  border-top: 3px solid grey;
  width: 100%;
}
.view {
  margin: 12px;
}

.phil {
  border-radius: 20px;
}
